<div class="banner-padding w3-bar w3-large w3-blue-gray w3-top">
  <div class="w3-left">
    <a class="w3-hide-large w3-bar-item w3-button w3-circle" id="menu" href="#"><i class="fas fa-bars"></i></a>
    <span id="countdown" style="font-size: 1.5em;"></span>
  </div>
  <div class="w3-right">
    <a href="#" class="w3-bar-item w3-button w3-circle" title="help me" id="help"><i class="fas fa-info-circle"></i></a>
    <a href="add_task.php" class="w3-bar-item w3-button w3-circle" title="add task"><i class="fas fa-plus"></i></a>
    <a href="upload_phase.php" class="w3-bar-item w3-button w3-circle" title="upload phase"><i class="fas fa-cloud-upload-alt"></i></a>
    <a href="setting.php" class="w3-bar-item w3-button w3-circle"><i class="fas fa-user"></i></a>
  </div>
</div>